<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://localhost:27017"/>
  </connectionStrings>
  <appSettings>
    <add key="version" value="1.0"/>
    <add key="MongoDbDatabase" value="selflearning"/>
  </appSettings>
</configuration>